@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

html {
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
  font-size: clamp(30px, 2vw, 48px);
}

h2 {
  font-size: clamp(20px, 2vw, 36px);
  color: #b6710d;
}

h3 {
  font-size: clamp(12px, 2vw, 18px);
  font-weight: bold;
}

span {
  font-weight: 300;
}

p {
  font-size: clamp(10px, 2vw, 18px);
}

dt {
  font-size: clamp(10px, 2vw, 18px);
  font-weight: bold;
}

dd {
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 300;
}

span {
  font-size: clamp(12px, 2vw, 16px);
}

a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

section {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section {
    margin-top: 80px;
  }
}

footer {
  margin-top: 100px;
}

.header-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  margin: 0;
  padding-top: 1.5em;
  justify-content: space-between;
  align-items: center;
}
.header-top .item {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-top {
    padding-top: 1em;
    width: 100%;
    margin: 0;
    z-index: 10;
    /* ハンバーガーメニュー */
  }
  .header-top .item {
    display: block;
    position: relative;
  }
  .header-top .menu-trigger,
.header-top .menu-trigger span {
    position: absolute;
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .header-top .menu-trigger {
    position: relative;
    position: absolute;
    position: fixed;
    right: 5em;
    top: 2.5em;
    width: 50px;
    height: 40px;
    border: none;
    background: none;
    appearance: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header-top .menu-trigger {
    width: 35px;
    height: 30px;
    right: 2em;
  }
}
@media screen and (max-width: 768px) {
  .header-top .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }
}
@media screen and (max-width: 768px) {
  .header-top .menu-trigger span:nth-of-type(1) {
    top: 2px;
  }
}
@media screen and (max-width: 768px) {
  .header-top .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header-top .menu-trigger span:nth-of-type(2) {
    top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header-top .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .header-top #menu.active {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .header-top #menu.active span:nth-of-type(1) {
    transform: translateY(18px) rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .header-top #menu.active span:nth-of-type(2) {
    transform: translateY(0) rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  .header-top #menu.active span:nth-of-type(3) {
    opacity: 0;
  }
}

.is-active {
  background-color: #b6710d;
  z-index: 20;
  width: 100%;
  min-height: 100px;
}
.fv {
  background-image: url(../images/jpg/fv.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 75vh;
}
@media screen and (max-width: 768px) {
  .fv {
    height: 85vh;
  }
}

.logo {
  width: 5em;
  margin-left: 8em;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 5em;
    width: 4em;
    margin-top: 1em;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    width: 3em;
    margin-left: 2em;
  }
}

.logo_white {
  width: 5em;
  display: none;
  margin-left: 8em;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .logo_white {
    margin-left: 4em;
    width: 4em;
  }
}
@media screen and (max-width: 400px) {
  .logo_white {
    margin-left: 2em;
    width: 3em;
  }
}

.is-hidden {
  display: none;
}

.is-show {
  display: block;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 5em;
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
.nav-list a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.nav-list a:hover {
  color: #b6710d;
}

.main_title {
  width: 8em;
  margin: 0 auto;
  padding-top: 5em;
}
@media screen and (max-width: 768px) {
  .main_title {
    width: 5em;
    padding-top: 10em;
  }
}

.works_card {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .works_card {
    display: block;
    width: 90vw;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .works_card {
    display: block;
    width: 90vw;
  }
}
.works_card a {
  width: 350px;
  height: auto;
  transition: all 0.3s;
}
.works_card a:hover {
  scale: 1.1;
}
@media screen and (max-width: 768px) {
  .works_card a img {
    margin-bottom: 30px;
  }
}

.skill_box {
  display: flex;
  max-width: 1080px;
  gap: 120px;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 1.5em;
}
@media screen and (max-width: 768px) {
  .skill_box {
    padding: 0 2em;
  }
}
@media screen and (max-width: 400px) {
  .skill_box {
    display: block;
  }
}
.skill_box-card {
  text-align: left;
  margin-top: 40px;
  position: relative;
}
.skill_box-card::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
}
.skill_box-card img {
  width: 20px;
  height: auto;
}
.skill_box-card .html-icon {
  width: 40px;
}

.about_box {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .about_box {
    display: block;
  }
}
.about_box-img {
  max-width: 40%;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about_box-img {
    margin-left: 0;
    margin: 0 auto;
    max-width: 90vw;
    width: 100%;
  }
}
.about_box-img img {
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .about_box-img img {
    aspect-ratio: 16/9;
    width: 90vw;
  }
}
.about_box-text {
  text-align: left;
  max-width: 40%;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .about_box-text {
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 40px;
  }
}
.about_box-text dl {
  margin-bottom: 20px;
}
.about_box-text dt {
  margin-bottom: 5px;
  position: relative;
}
.about_box-text dt::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
  top: 5px;
  height: 1em;
}
.about_box-text h3 {
  position: relative;
  margin-bottom: 5px;
}
.about_box-text h3::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
  top: 5px;
  height: 1em;
}
.about_box-text p {
  margin-bottom: 20px;
}

.contact > a {
  display: inline-block;
  margin-top: 100px;
  font-size: 1.25em;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #b6710d;
  padding: 0.75em 2.5em;
  border-radius: 50px;
}
@media screen and (max-width: 400px) {
  .contact > a {
    font-size: 1em;
  }
}
/* トップへ戻るボタン */
.top-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b6710d;
  position: relative;
  position: fixed;
  bottom: 2em;
  right: 2.5em;
  border: none;
  transition: all 0.5s;
  opacity: 0;
  z-index: 999;
}
@media screen and (max-width: 400px) {
  .top-btn {
    width: 60px;
    height: 60px;
  }
}

.active {
  opacity: 1;
  visibility: visible;
}

.top-btn::after {
  content: url("../images/png/Icon ionic-ios-arrow-up.png");
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.25em;
}
@media screen and (max-width: 768px) {
  .top-btn::after {
    left: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .top-btn::after {
    top: 1em;
    left: 0.8em;
  }
}

.footer-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #885308;
  padding: 30px 0;
}
.footer-wrapper p {
  color: #fff;
}

.header {
  background-color: #885308;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.header-inner {
  display: flex;
  align-items: center;
  margin: 0 3.5em;
  justify-content: space-between;
}
.header-inner .item {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-inner {
    margin: 0 2em;
    /* ハンバーガーメニュー */
  }
  .header-inner .item {
    display: block;
    position: relative;
  }
  .header-inner .menu-trigger,
.header-inner .menu-trigger span {
    position: absolute;
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .header-inner .menu-trigger {
    position: relative;
    position: absolute;
    position: fixed;
    right: 2em;
    top: 2em;
    width: 50px;
    height: 40px;
    border: none;
    background: none;
    appearance: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header-inner .menu-trigger {
    top: 1em;
  }
}
@media screen and (max-width: 768px) {
  .header-inner .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }
}
@media screen and (max-width: 768px) {
  .header-inner .menu-trigger span:nth-of-type(1) {
    top: 2px;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header-inner .menu-trigger span:nth-of-type(1) {
    top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header-inner .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header-inner .menu-trigger span:nth-of-type(2) {
    top: 21px;
  }
}
@media screen and (max-width: 768px) {
  .header-inner .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .header-inner #menu.active {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .header-inner #menu.active span:nth-of-type(1) {
    transform: translateY(18px) rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .header-inner #menu.active span:nth-of-type(2) {
    transform: translateY(0) rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  .header-inner #menu.active span:nth-of-type(3) {
    opacity: 0;
  }
}
.header-inner .logo-white {
  width: 5em;
  padding-top: 1em;
}
@media screen and (max-width: 400px) {
  .header-inner .logo-white {
    width: 4em;
  }
}
.header-inner .nav-box {
  margin: 0;
}

.breadcrumb {
  margin: 0 3.5em;
  padding-top: 150px;
  max-width: 1080px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .breadcrumb {
    margin: 0 2em;
    padding-top: 110px;
  }
}

.breadcrumb li {
  display: inline; /*横に並ぶように*/
  list-style: none;
  font-weight: bold; /*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: ">";
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  text-decoration: none;
  color: #b6710d;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.main_text {
  text-align: center;
  padding-top: 100px;
}
@media screen and (max-width: 1079px) {
  .main_text {
    padding-top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .main_text {
    padding-top: 50px;
  }
}

.main_section {
  max-width: 1080px;
  padding: 50px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1079px) {
  .main_section {
    width: 90vw;
  }
}
.main_section-textbox {
  padding-top: 50px;
  margin-left: 0;
}
.main_section-textbox dl {
  width: 60%;
  margin-top: 30px;
  padding-left: 1em;
}
@media screen and (max-width: 768px) {
  .main_section-textbox dl {
    width: 100%;
  }
}
.main_section-textbox dl dt {
  position: relative;
}
.main_section-textbox dl dt::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
  height: 1em;
  top: 5px;
  left: -0.9em;
}
.main_section-textbox dl dd {
  margin-top: 1.5px;
}
.main_section-textbox p {
  font-weight: 600;
  margin-top: 30px;
  padding-left: 1em;
  position: relative;
}
.main_section-textbox p::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
  height: 1em;
  top: 5px;
  left: -1px;
}
.main_section .page {
  display: flex;
  margin-top: 150px;
  margin-left: 30px;
  gap: 45px;
}
.main_section .page_nation {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 45px;
  background-color: #fff;
}
@media screen and (max-width: 1079px) {
  .main_section .page_nation {
    gap: 20px;
  }
}
.main_section .page_nation-img {
  width: 50%;
  margin-left: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 1079px) {
  .main_section .page_nation-img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
.main_section .page_nation-img:hover {
  scale: 1.1;
}
.main_section .page_nation-text small {
  color: #333;
  display: inline-block;
}
.main_section .page_nation-text .before:first-child::before {
  content: "＜";
  padding-right: 0.5em;
}
.main_section .page_nation-text .next {
  flex-direction: row-reverse;
  display: block;
}
.main_section .page_nation-text .next:first-child::after {
  content: "＞";
  padding-left: 0.5em;
}
.main_section .only {
  margin-top: 150px;
  margin-left: 30px;
  max-width: 45%;
}
@media screen and (max-width: 768px) {
  .main_section .only {
    max-width: 50%;
  }
}/*# sourceMappingURL=style.css.map */