@use "./variable" as v;

html {
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background-color: v.$whiteColor;
  font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
h1 {
  font-size: clamp(30px, 2vw, 48px);
}
h2 {
  font-size: clamp(24px, 2vw, 36px);
  color: v.$brownColor;
}
h3 {
  font-size: clamp(12px, 2vw, 18px);
}
span {
  font-weight: 300;
}
p {
  font-size: clamp(12px, 2vw, 18px);
}
dt {
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 600;
}
dd {
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 300;
}

a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}
section {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
footer {
  margin-top: 100px;
}
