@use "variable" as v;

$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
@mixin header {
  background-color: v.$brownDarkColor;
}
// contactボタン
@mixin btn {
  font-size: 1.25em;
  text-decoration: none;
  color: v.$whiteColor;
  background-color: v.$brownColor;
  padding: 0.75em 2.5em;
  border-radius: 50px;
}
// 擬似要素の横線
@mixin before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: -1em;
  background-color: #000;
}
// 擬似要素の矢印
@mixin after-arrow {
  content: "＞";
  padding-left: 0.5em;
}
@mixin before-arrow {
  content: "＜";
  padding-right: 0.5em;
}

@mixin top_btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: v.$brownColor;
  position: fixed;
  bottom: 2em;
  right: 2.5em;
  border: none;
  transition: all 0.5s;
  opacity: 0;
  z-index: 999;
}
