@charset 'utf-8';
//ファイル読みこみ
@use "../sass/reset" as r;
@use "../sass/base" as b;
@use "../sass/mixin" as m;
@use "../sass/variable" as v;

// ヘッダー
.header-top {
  display: flex;
  margin: 0 5em;
  padding-top: 2em;
  justify-content: space-between;
  align-items: center;
  .item {
    display: none;
  }
  // 768px以下
  @include m.mq(tab) {
    position: fixed;
    top: 0;
    background-color: #b6710d;
    padding-top: 1em;
    width: 100%;
    margin: 0;
    z-index: 10;
    .item {
      display: block;
      position: relative;
    }
    .menu-trigger,
    .menu-trigger span {
      position: absolute;
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box;
    }
    .menu-trigger {
      position: relative;
      position: absolute;
      position: fixed;
      right: 5em;
      top: 2.5em;
      width: 50px;
      height: 40px;
      border: none;
      background: none;
      appearance: none;
      cursor: pointer;
    }
    .menu-trigger span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: v.$whiteColor;
      border-radius: 4px;
    }
    .menu-trigger span:nth-of-type(1) {
      top: 2px;
    }
    .menu-trigger span:nth-of-type(2) {
      top: 20px;
    }
    .menu-trigger span:nth-of-type(3) {
      bottom: 0;
    }
    #menu.active {
      transform: rotate(360deg);
    }
    #menu.active span:nth-of-type(1) {
      transform: translateY(18px) rotate(-45deg);
    }
    #menu.active span:nth-of-type(2) {
      transform: translateY(0) rotate(45deg);
    }
    #menu.active span:nth-of-type(3) {
      opacity: 0;
    }
    /* ハンバーガーメニュー */
  }
}

// 背景
.fv {
  background-image: url(../images/jpg/fv.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 75vh;
}
// ロゴ
.logo {
  width: 5em;
  @include m.mq(tab) {
    display: none;
  }
}
.logo_white {
  width: 5em;
  display: none;
  @include m.mq(tab) {
    display: block;
    margin-left: 5em;
  }
}
// ナビゲーション
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  @include m.mq(tab) {
    display: none;
  }
  a {
    text-decoration: none;
    color: v.$fontwhite;
    transition: all 0.3s;
    &:hover {
      color: #b6710d;
    }
  }
}
.main_title {
  width: 8em;
  margin: 0 auto;
  padding-top: 5em;
  @include m.mq(tab) {
    width: 5em;
  }
}

// worksページ
.works_card {
  max-width: 1080px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 30px;
  margin: 0 auto;
  @include m.mq(tab) {
    display: block;
    width: 90vw;
    height: auto;
  }
  @include m.mq(sp) {
    display: block;
    width: 90vw;
  }
  // 左よせ用の空箱
  &::after {
    content: "";
    width: 350px;
    height: 280px;
    opacity: 0;
    @include m.mq(pc) {
      display: none;
    }
  }
  // 左よせ用の空箱
  &::before {
    content: "";
    width: 350px;
    height: 280px;
    opacity: 0;
    order: 1;
    @include m.mq(pc) {
      display: none;
    }
  }
  a {
    width: 350px;
    height: auto;
    transition: all 0.3s;
    &:hover {
      scale: 1.1;
    }
    img {
      @include m.mq(tab) {
        margin-bottom: 30px;
      }
    }
  }
}
// skillページ
.skill_box {
  display: flex;
  max-width: 1080px;
  gap: 120px;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 1.5em;

  &-card {
    text-align: left;
    margin-top: 40px;
    position: relative;
    &::before {
      @include m.before;
    }
    img {
      width: 20px;
      height: auto;
    }
    .html-icon {
      width: 40px;
    }
  }
}
// aboutページ
.about_box {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  &-img {
    width: 40%;
    margin-left: 30px;
    img {
      border-radius: 25px;
    }
  }
  &-text {
    text-align: left;
    max-width: 40%;
    margin-right: 30px;
    dl {
      margin-bottom: 20px;
    }
    dt {
      font-weight: 500;
      margin-bottom: 5px;
    }
    h3 {
      position: relative;
      margin-bottom: 5px;
      font-weight: 400;
      &::before {
        @include m.before;
        top: 5px;
        height: 1em;
      }
    }
    p {
      margin-bottom: 20px;
      font-weight: 300;
    }
  }
}

// contactページ
.contact > a {
  display: inline-block;
  margin-top: 100px;
  @include m.btn;
}
/* トップへ戻るボタン */
.top-btn {
  @include m.top_btn;
}

.active {
  opacity: 1;
  visibility: visible;
}
.top-btn::after {
  content: url("../images/png/Icon\ ionic-ios-arrow-up.png");
  width: 35px;
  height: 25px;
  position: absolute;
  top: 1.5em;
  left: 1.25em;
  @include m.mq(tab) {
    left: 1.5em;
  }
}
// フッター
.footer-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: v.$brownDarkColor;
  padding: 30px 0;
  p {
    color: v.$fontwhite;
  }
}

// 下層ページ
.header {
  @include m.header;
  &-inner {
    display: flex;
    align-items: center;
    margin: 0 8em;
    justify-content: space-between;
    .logo_white {
      padding-top: 1em;
    }
  }
}
//パンくずリスト
.breadcrumb {
  margin: 0 8em;
  padding-top: 20px;
  max-width: 1080px;
  list-style: none;
}

.breadcrumb li {
  display: inline; /*横に並ぶように*/
  list-style: none;
  font-weight: bold; /*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: ">";
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  text-decoration: none;
  color: v.$brownColor;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
.main_text {
  text-align: center;
  padding-top: 100px;
}
.main_section {
  max-width: 1080px;
  padding-top: 50px;
  margin: 0 auto;
  &-textbox {
    padding-top: 50px;
    dl {
      width: 60%;
      margin-top: 30px;
      padding-left: 1em;
      dt {
        position: relative;
        &::before {
          @include m.before;
          height: 1em;
          top: 5px;
          left: -0.9em;
        }
      }
      dd {
        margin-top: 1.5px;
      }
    }
    p {
      font-weight: 600;
      margin-top: 30px;
      padding-left: 1em;
      position: relative;
      &::before {
        @include m.before;
        height: 1em;
        top: 5px;
        left: -1px;
      }
    }
  }
  // ページ遷移
  .page {
    display: flex;
    margin-top: 150px;
    gap: 45px;
  }
  .page_nation {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    gap: 45px;
    background-color: #fff;
    &-img {
      width: 50%;
      transition: all 0.3s;
      &:hover {
        scale: 1.1;
      }
    }
    &-text {
      small {
        color: v.$fontBlack;
        display: block;
      }
      .before {
        // 矢印の擬似要素
        &:first-child::before {
          @include m.before-arrow;
        }
      }
      .next {
        &:first-child::after {
          @include m.after-arrow;
        }
      }
    }
  }
  .next {
    flex-direction: row-reverse;
  }
  .only {
    margin-top: 150px;
    max-width: 45%;
  }
}
